/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #1a1a1a;

}

.resume-container {
  max-width: 900px; /* Set the maximum width */
  width: 100%; /* Ensure it adapts to smaller screens */
  margin: 0 auto; /* Center the container */
  padding: 50px 20px; /* Add some padding for spacing */
}

.resume-container h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.resume-container h1 span {
  color: #6bb0f0; /* Accent color */
}

/* Section Styles */
.section {
  margin-bottom: 50px;
}

.section h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
  border-left: 4px solid #6bb0f0; /* Accent border */
  padding-left: 10px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

/* Card Styles */
.card {
  background: #333333;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1 1 calc(100% - 20px); /* Full width of container */
  max-width: 100%; /* Ensure it fits the container */
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.date {
  font-size: 0.9rem;
  color: #6bb0f0;
  font-weight: bold;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #b0abab;
  font-weight: 50;
}

.institution {
  font-size: 0.9rem;
  color: #777;
  font-style: italic;
}

/* Responsive Design */
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    gap: 30px;
  }

  .resume-container h1 {
    font-size: 2rem;
  }

  .section h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .resume-container {
    padding: 20px 10px;
  }

  .card {
    padding: 15px;
  }

  .card h3 {
    font-size: 1.2rem;
  }

  .description,
  .institution {
    font-size: 0.9rem;
  }
}
