/* General Page Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.contact-page {
  background-color: #1e1e1e;
  color: white;
  min-height: 100vh;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-left: 60px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

/* Contact Container */
.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 900px;
  padding: 20px;
 
}

/* Contact Form */
.contact-form {
  flex: .5;
  margin-left: 7%;
  min-width: 200px;
  margin-bottom: 20px;
  /* margin-top: 20px; */
}

.form-input,
.form-textarea {
  width: 120%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  background-color: #2d2d2d;
  color: white;
  font-size: 16px;
}

.form-textarea {
  height: 150px;
  resize: none;
}
.span{
  color: #6bb0f0;
}
.submit-button {
  width: 50%;
  padding: 10px;
  background-color: #6bb0f0;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #6bb0f0;
}

/* Contact Details */
.contact-details {
  flex: 2;
  min-width: 300px;
  margin-left: 300px;
}

.contact-details h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.contact-details p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.contact-details strong {
  color: #6bb0f0;
}

/* Footer Styles */
.footer {
  text-align: center;
  margin-top: 50px;
  padding: 20px 0;
  border-top: 1px solid #333;
}

.footer p {
  color: white;
  font-size: 14px;
}

.footer .heart {
  color: #6bb0f0;
}

.social-icons {
  margin-top: 15px;
}

.social-icon {
  margin: 30px 20px;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #6bb0f0;
}
