body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 10px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00d1b2;
}

.nav-links li {
  position: relative;
}

.dropdown {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #333;
  padding: 10px 0;
  border-radius: 5px;
  display: none; /* Hidden by default */
  flex-direction: column;
  min-width: 150px;
  z-index: 1000;
}

.dropdown li {
  margin: 0;
}

.dropdown a {
  color: white;
  padding: 10px 20px;
  display: block;
  text-align: left;
}

.dropdown a:hover {
  background: #00d1b2;
  color: black;
}

/* Show dropdown on hover */
.nav-links li:hover .dropdown {
  display: flex;
}


.home {
  height: 100vh;
  background: url('/src/image/Blando.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.home .content h1 {
  font-size: 3rem;
}

.home .content p {
  font-size: 1.5rem;
}
